* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0.7);
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #00adee;
}

.logo span {
    color: #fff;
}

.signin {
    background: #e50914;
    border: none;
    color: white;
    padding: 8px 18px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.9)),
    url("https://wallpapers.com/images/featured/netflix-background-gs7hjuwvv2g0e9fj.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    max-width: 700px;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero h2 {
    font-size: 26px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.email-box {
    display: flex;
    justify-content: center;
}

.email-box input {
    width: 60%;
    padding: 15px;
    font-size: 16px;
    border: none;
}

.email-box button {
    background: #e50914;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
}

/* ROWS */
.row {
    padding: 40px 60px;
}

.row h2 {
    margin-bottom: 15px;
}

.cards {
    display: flex;
    gap: 15px;
    overflow-x: auto;
}

.cards img {
    width: 200px;
    border-radius: 6px;
    transition: transform 0.3s;
    cursor: pointer;
}

.cards img:hover {
    transform: scale(1.1);
}

/* FOOTER */
footer {
    padding: 40px 60px;
    background: #111;
    color: #aaa;
    text-align: center;
}
